#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^([^\.]*)\.([^\.]*)$
#RewriteRule (.*) http://www.%1.%2/$1 [L,R=301]

#RewriteCond %{HTTP_HOST} ^www\.([^.]+)\.([^.]+)\.([^\.]*)$ [NC]
#RewriteRule ^(.*)$ http://%1.%2.%3/$1 [L,R=301]

#RewriteCond %{REQUEST_URI} !^projects/
#RewriteCond %{REQUEST_URI} !^/projects/
#RewriteCond %{HTTP_HOST} ^(www\.)?(.*)\.([^\.]*)\.([^\.]*)$
#RewriteRule (.*) %3/$1 [DPI] 

RewriteEngine On

# Redirect old members page to new one
RewriteRule ^admin/pages/members/members\.php$ /admin/pages/members/members_new.php [R=301,L]
RewriteRule ^admin/members$ admin/members_new [R=301,L]

# Rewrite rules for admin pages
RewriteRule ^admin/dashboard$ admin/index.php?page=dashboard [L]
#RewriteRule ^admin/members$ admin/index.php?page=members [L]
RewriteRule ^admin/members_new$ admin/index.php?page=members_new [L]
RewriteRule ^admin/add_member$ admin/index.php?page=add_member [L]
RewriteRule ^admin/attendance$ admin/index.php?page=attendance [L]
RewriteRule ^admin/member_status$ admin/index.php?page=member_status [L]
RewriteRule ^admin/membership_history$ admin/pages/members/membership_history.php [L]
RewriteRule ^admin/walk_in$ admin/index.php?page=walk_in [L]
RewriteRule ^admin/gym_rates$ admin/index.php?page=gym_rates [L]
RewriteRule ^admin/programs$ admin/index.php?page=programs [L]
RewriteRule ^admin/rentals$ admin/index.php?page=rentals [L]
RewriteRule ^admin/payment_records$ admin/index.php?page=payment_records [L]
RewriteRule ^admin/notification$ admin/index.php?page=notification [L]
RewriteRule ^admin/announcement$ admin/index.php?page=announcement [L]
RewriteRule ^admin/accounts$ admin/index.php?page=accounts [L]
RewriteRule ^admin/website_settings$ admin/index.php?page=website_settings [L]
RewriteRule ^admin/content_management$ admin/pages/website\ settings/content_management.php [L]
RewriteRule ^admin/report$ admin/index.php?page=report [L]
RewriteRule ^admin/staff_management$ admin/index.php?page=staff_management [L]