@font-face {
  font-family: myFont;
  src: url(../../AC.ttf);
}

body {
  font-family: "Inter", sans-serif !important;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.bg-custom-red {
  background-color: #c92f2f !important;
}
.card-body p-4 {
  height: 60vh;
}
.scrollable-section {
  max-height: calc(100vh - 350px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.flex-fill {
  height: 48px !important;
}

.return-btn {
  background-color: #6e6e6e;
  color: white;
}
.return-btn:hover {
  background-color: #616161;
  color: white;
}
.d-grid {
  height: 48px;
}
.add-cart {
  background-color: #4361ee;
  color: white;
}
.add-cart:hover {
  background-color: rgb(39, 75, 238);
  color: white;
}
.cart-count {
  display: none !important;
}
